*{
  box-sizing: border-box;
}
.container {
  max-width: 980px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 20px;
}
/*.head {
  background-color: darkkhaki;
 flex: 1 1 100% ;
}*/
.header{
  flex: 1 1 100%;
  background-color: brown;
}
.footer {
  flex: 1 1 100%;
  background-color: brown;
}

.sidebar {
  flex: 0 0 200px;
  margin: 10px;
  background-color: aquamarine;
}
.content {
  flex: 1 1 0px;
  display: flex;
  flex-wrap: wrap ;
  margin: 10px;
}
.box {
  flex: 0 0 65%;
  background-color: chartreuse;
  margin: 5px;
}
.box1 {
  flex: 0 0 25%;
  background-color: chartreuse;
  margin: 5px;
}
/*.content {
  margin: 20px 5px;
  flex: 1 1 0px;
  background-color: chartreuse;
}*/
/*.footer {
 flex: 0 0 100%;
 background-color: darksalmon;
}*/
